@model Broadband.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>My Broadband Package</h2>
</div>

<div class="row">
    <p>Your current plan includes:</p>
    <p>@Html.DisplayFor(model => model.UsageType) usage</p>
</div>